<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Alteração</title>
</head>
<body>
<form action="#" th:action="@{/funcionarios/update}"
  th:object="${funcionario}" method="post">
RE:<input type="text" th:field="*{re}"/><br/>
Nome:<input type="text" th:field="*{nome}"/><br/>
data de admissão<input type="text" th:field="*{dataAdmissao}"/><br/>
salário:<input type="text" th:field="*{salario}"/><br/>
<input type="submit" value="enviar"/>
</form>
<a href="/funcionarios">voltar</a>
</body>
</html>